:root {
    --cor1 : #E8E1EF;
    --cor2 : #56EEF4;
    --cor3 : #38A3A5;
    --cor4 : #357DED;
    --cor5 : #5438DC;
    --cor6 : #22175C;
}

/* --------------------------------------- */

body {
    background-color: var(--cor2);
}

main {
    margin: 10px auto;
    height: 97ch;
    width: 98vw;    
    background-image: linear-gradient(var(--cor5), var(--cor6) 90%);
    border-radius: 5px;
}

/* Mudando a desgraça do scrollbar */

::-webkit-scrollbar {
width: 18px;
}
/* Track */
::-webkit-scrollbar-track {
background: var(--cor6); 
}


/* Handle */
::-webkit-scrollbar-thumb {
background: var(--cor5); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background:white; 
}
/* -------------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_tranfero {
    float: left;
    width: 100px;
    margin: 40px 0 0 30px;
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 40px 0 0 150px;
}
h2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 160px;
}

/* ------------------flag-------------- */

ul{
    margin-right: 50px;
}
li {    
    color: var(--cor2);
    font-weight: bold;
    font-size: 20px;
    display: inline;
    transition: .2s;
}
nav li label {
    padding: 10px;
}
nav li label:hover{
    background-color: var(--cor6);
    cursor: pointer;
}
.flag{
    width: 30px;
    height: 20px;
    margin-right: 10px;
}

/* ----------------------------- */

#monkey:hover{
    cursor: pointer;
}

#total_carteira {
    margin: 40px 0 10px 0px;
    width: 34%;
}

#total_carteira_h1, #total_carteira_valor {
    font-size: 20px;
    padding: 0;
    text-align: end;
}
/* --------------options--------------- */

.selection {
    display: flex;
    justify-content: end;
	max-width: 800px;
    margin: 20px 0;
}
.selection label {
    display: flex;
    justify-content: center;
	border: 1px solid var(--cor2);
	width: 100px;
	cursor: pointer;
    transition: .2s;
    text-align: center;
    color: white;
}

input {
    float: left;
    visibility: hidden;
}


.selection label span {
	line-height: 2em;
    /* margin-left: -20px; */
}

#ano, #total{
    border-radius: 5px 0px 0px 5px;
    background-color: var(--cor2);
}
#semana {
    border-radius: 5px 0px 0px 5px;

}

#ano span, #total span {
    color: black;
}

#ano, #percentage{
    border-radius: 0px 5px 5px 0px;
}

/* -----------------graph----------------- */

#chartbox {
    margin: 10px auto;
    max-width: 800px;
}

#graph {
    background-color: var(--cor6);
    border: 1px solid rgb(255, 255, 255);
}

/* -----------------arrows---------------- */

#grafico {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

.seta {
    border: 1px solid var(--cor2);
    border-radius: 5px;
    font-size: xx-large;
    color: white;
    padding: 5px 10px;
    background-color: var(--cor6);
    height: 40px;
    margin: 0px 10px;
    visibility: hidden;
    transition: .2s;
}

.seta:hover {
    background: var(--cor2);
    color: black;
    cursor: pointer;
}

/* --------------------bolsas-------------- */
#bolsas ul{
    display: flex;
    justify-content: center;
    margin: 0;
}

#bolsas ul li {
    background-color: var(--cor6);
    border: 1px solid white ;
    width: 20%;
    color: white;
}


#bolsas ul li h1 {
    font-size: large;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid white;
}

#ibovespa h1 {
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: blue;
}

#poupanca h1 {
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: white;
}
#btc h1 {
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: orange;
}
#dollar h1 {
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: red;
}
#cdi h1 {
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: yellow;
}
#selic h1 {
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: green;
}

#bolsas ul li p {
    padding: 20px 0 0 20px;
}

#bolsas label {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

