:root {
    --cor1 : #E8E1EF;
    --cor2 : #56EEF4;
    --cor3 : #38A3A5;
    --cor4 : #357ced;
    --cor5 : #5438DC;
    --cor6 : #22175C;
}

/* --------------------------------------- */

body {
    background-color: var(--cor2);
}

main {
    overflow: auto;
    margin: 10px auto;
    height: 97vh;
    width: 98vw;    
    background-image: linear-gradient(var(--cor5), var(--cor6) 90%);
    border-radius: 5px;
}

/* Mudando a desgraça do scrollbar */

::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--cor6); 
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--cor5); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:white; 
}
/* -------------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_tranfero {
    float: left;
    width: 100px;
    margin: 40px 0 0 30px;
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 40px 0 0 150px;
}
h2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 160px;
}

/* ------------------flag-------------- */

ul{
    display: inline;
    margin-right: 50px;
    color: white;
    font-size: larger;
    font-weight: bold;
}
li {    
    color: var(--cor2);
    font-weight: bold;
    font-size: 20px;
    display: inline;
    transition: .2s;
}
nav li label {
    padding: 10px;
}
nav li label:hover{
    background-color: var(--cor6);
    cursor: pointer;
}
.flag{
    width: 30px;
    height: 20px;
    margin-right: 10px;
}

/* ---------------monkey-------------- */

#total_carteira {
    margin: 40px auto 10px auto;
    max-width: 800px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#total_carteira div{
    display: flex;
    justify-content: space-between;
    max-width: 280px;

}

#valor_simulação {
    width: 110px;
}

.input_simulação {
    visibility: visible;
    background-color: var(--cor4);
    color: white;
    font-weight: bold;
    padding: 2px 0;
    float: none;
}
/* --------------options--------------- */

.selection {
    display: flex;
    justify-content: end;
	max-width: 800px;
    margin: 20px 0;
}
.selection label {
    display: flex;
    justify-content: center;
	border: 1px solid var(--cor2);
	width: 100px;
	cursor: pointer;
    transition: .2s;
    text-align: center;
    color: white;
}

input {
    float: left;
    visibility: hidden;
}


.selection label span {
	line-height: 2em;
    /* margin-left: -20px; */
}

#ano, #total{
    border-radius: 5px 0px 0px 5px;
    background-color: var(--cor2);
}
#semana {
    border-radius: 5px 0px 0px 5px;

}

#ano span, #total span {
    color: black;
}

#ano, #percentage{
    border-radius: 0px 5px 5px 0px;
}

/* -----------------graph----------------- */

#chartbox {
    margin: 10px auto;
    max-width: 800px;
}

#graph {
    background-color: var(--cor6);
    border: 1px solid rgb(255, 255, 255);
}

/* -----------------arrows---------------- */

div#grafico {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

.seta {
    border: 1px solid var(--cor2);
    border-radius: 5px;
    font-size: xx-large;
    color: white;
    padding: 5px 10px;
    background-color: var(--cor6);
    height: 40px;
    margin: 0px 10px;
    visibility: hidden;
    transition: .2s;
}

.seta:hover {
    background: var(--cor2);
    color: black;
    cursor: pointer;
}

/* ----------Adapting to cell phone------ */

@media screen and (max-width: 660px) {
    ::-webkit-scrollbar {
        width: 0px;
    }

/* ------------------------------------- */

    nav{
        display: block;
        background-color: var(--cor6);
    }

    nav div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    #logo_tranfero {
        margin: 20px 0 0 0;
        align-self: center;
    }
    nav h1, nav h2 {
        padding: 0;
        text-align: center;
    }
    nav ul {
        padding: 20px 20px;
        margin: 0;
        text-align: end;
    }

/* -------------------------------------- */      
}